<app-breadcrumb [title]="'Dashboard'" [items]="['other']" [active_item]="'Dashboard'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row size-column">
    <div class="col-xl-7 box-col-12 xl-100">
      <div class="row dash-chart">
        <div class="col-xl-6 box-col-6 col-md-6">
          <div class="card o-hidden">
            <div class="card-header card-no-border">
              <div class="card-header-right">
                <ul class="list-unstyled card-option">
                  <li><i class="fa fa-spin fa-cog"></i></li>
                </ul>
              </div>
              <div class="media">
                <div class="media-body">
                  <p><span class="f-w-500 font-roboto">Today Total sale</span><span
                      class="f-w-700 font-primary ml-2">89.21%</span></p>
                  <h4 class="f-w-500 mb-0 f-26">$<span class="counter">3000.56</span></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
