<app-breadcrumb [title]="'Add Product'" [url]="'/product-management/products'"
  [items]="['Product Management', 'Product']" [active_item]="'Create New'">
</app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="form theme-form" [formGroup]="productForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Product Name</label>
                  <input class="form-control" type="text" formControlName="product_name" placeholder="Product Name *">
                  <app-validation-popover [control]="productForm.controls.product_name" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Product Description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea4" formControlName="product_description"
                    placeholder="Enter Product Description.." rows="1"></textarea>
                  <app-validation-popover [control]="productForm.controls.product_description" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Category</label>
                  <ng-select [items]="productCategory" bindLabel="category_name" formControlName="product_category_id"
                    bindValue="category_id" placeholder="Select Category">
                  </ng-select>
                  <app-validation-popover [control]="productForm.controls.product_category_id" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Product Type</label>
                  <ng-select [items]="productType" bindLabel="product_type_name" formControlName="product_type_id"
                    bindValue="product_type_id" placeholder="Select Product Type">
                  </ng-select>
                  <app-validation-popover [control]="productForm.controls.product_type_id" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Product Cost</label>
                  <input class="form-control" type="text" maxlength="5" placeholder="0" formControlName="product_cost">
                  <app-validation-popover [control]="productForm.controls.product_cost" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Product Retail Price ({{(profitMargin > 0 ? profitMargin : 0) | number:'1.0-0'}}% Gross
                    Margin)</label>
                  <div class="input-group">
                    <input class="form-control" type="text" maxlength="5"
                      [attr.placeholder]="profitMargin+'% Gross Margin'" formControlName="product_retail_price">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-secondary" id="basic-addon2"
                        *ngIf="productForm.get('product_retail_price').disabled"
                        (click)="productForm.get('product_retail_price').enable()">Adjust</button>
                      <button class="btn btn-sm btn-secondary" id="basic-addon2"
                        *ngIf="productForm.get('product_retail_price').enabled"
                        (click)="productForm.get('product_retail_price').disable(); calculateRetailPrice();">Set to
                        35%</button>
                    </div>
                  </div>
                  <app-validation-popover [control]="productForm.controls.product_retail_price" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label>In Stock</label>
                  <input class="form-control" maxlength="3" type="text" placeholder="0"
                    formControlName="product_in_stock">
                  <app-validation-popover [control]="productForm.controls.product_in_stock" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Product Variations</label>
                  <input class="form-control" type="text" placeholder="Black, Blue etc."
                    formControlName="product_variation">
                  <app-validation-popover [control]="productForm.controls.product_variation" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group ">
                  <label>Upload File</label>
                  <input class="form-control" type="file">
                </div>
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Expected Total Cost</th>
                  <th scope="col" class="text-center">Expected Total Sale</th>
                  <th scope="col" class="text-center">Expected Total Profit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    Rs. {{productForm.get('product_cost').value * productForm.get('product_in_stock').value}} ≈
                    {{((productForm.get('product_cost').value * productForm.get('product_in_stock').value)/usdRate) | currency:'USD'}}
                  </td>
                  <td class="text-center">Rs.
                    {{productForm.get('product_retail_price').value * productForm.get('product_in_stock').value}} ≈
                    {{((productForm.get('product_retail_price').value * productForm.get('product_in_stock').value)/usdRate) | currency:'USD'}}
                  </td>
                  <td class="text-center">Rs.
                    {{(productForm.get('product_retail_price').value - productForm.get('product_cost').value) * productForm.get('product_in_stock').value}}
                    ≈
                    {{(((productForm.get('product_retail_price').value - productForm.get('product_cost').value) * productForm.get('product_in_stock').value)/usdRate) | currency:'USD'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 project-list">
      <div class="card">
        <div class="row">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-6">
            <div class="text-right">
              <div class="form-group mb-0 mr-0"></div>
              <a class="btn btn-danger" [routerLink]="['/product-management/products']">Cancel</a>
              <button class="btn btn-success ml-2" (click)="Submit();">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
