<app-breadcrumb [title]="'Add Customer'" [items]="['Customer Management', 'Customer']" [active_item]="'Create New'">
</app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="form theme-form" [formGroup]="customerForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input class="form-control" formControlName="name" type="text" placeholder="Enter First Name">
                  <app-validation-popover [control]="customerForm.controls.name" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input class="form-control" type="text" formControlName="last_name" placeholder="Enter Last Name">
                  <app-validation-popover [control]="customerForm.controls.last_name" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6" formGroupName="contact_info">
                <div class="form-group">
                  <label>Phone Number</label>
                  <input class="form-control" type="text" formControlName="phone_number" placeholder="+92300xxxxxxx">
                  <app-validation-popover [control]="customerForm.get('contact_info')['controls'].phone_number"
                    [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" type="text" formControlName="email" placeholder="user@email.com">
                  <app-validation-popover [control]="customerForm.controls.email" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Social Media</label>
                  <ng-select [items]="socialMedia" bindLabel="socal_media" bindValue="socal_media_key"
                    formControlName="social_media" placeholder="Select Social Media">
                  </ng-select>
                  <app-validation-popover [control]="customerForm.controls.social_media" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Social Media User Name</label>
                  <input class="form-control" type="text" formControlName="social_media_user_name"
                    placeholder="Enter Social Media User Name">
                  <app-validation-popover [control]="customerForm.controls.social_media_user_name" [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
            </div>
            <div class="row" formGroupName="contact_info">
              <div class="col" formGroupName="address">
                <div class="form-group">
                  <label>Address</label>
                  <textarea class="form-control" id="exampleFormControlTextarea4" placeholder="Enter Address.."
                    formControlName="street" rows="2"></textarea>
                  <app-validation-popover
                    [control]="customerForm.get('contact_info')['controls']['address']['controls'].street"
                    [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
            </div>
            <div class="row" formGroupName="contact_info">
              <div class="col-sm-4" formGroupName="address">
                <div class="form-group">
                  <label>Select City</label>
                  <ng-select [items]="cities" (change)="onChangeCity($event);" bindLabel="city" bindValue="city"
                    placeholder="Select City" formControlName="city">
                  </ng-select>
                  <app-validation-popover
                    [control]="customerForm.get('contact_info')['controls']['address']['controls'].city"
                    [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-4" formGroupName="address">
                <div class="form-group">
                  <label>Select State</label>
                  <ng-select [items]="states" bindLabel="state_name" bindValue="state_name" placeholder="Select State"
                    formControlName="province">
                  </ng-select>
                  <app-validation-popover
                    [control]="customerForm.get('contact_info')['controls']['address']['controls'].province"
                    [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
              <div class="col-sm-4" formGroupName="address">
                <div class="form-group">
                  <label>Select Country</label>
                  <ng-select [items]="countries" bindLabel="country_name" bindValue="country_name"
                    formControlName="country" placeholder="Select Country">
                  </ng-select>
                  <app-validation-popover
                    [control]="customerForm.get('contact_info')['controls']['address']['controls'].country"
                    [show]="submitted">
                  </app-validation-popover>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 project-list">
      <div class="card">
        <div class="row">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-6">
            <div class="text-right">
              <div class="form-group mb-0 mr-0"></div>
              <a class="btn btn-danger" [routerLink]="['/pages/customer-management/customers']">Cancel</a>
              <button class="btn btn-success ml-2" (click)="Submit();">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
