<div class="page-wrapper">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="login-card">
          <div>
            <div>
              <a class="logo" routerLink='/'>
                <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="looginpage" width="200">
                <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="looginpage" width="200">
              </a>
            </div>
            <div class="login-main">
              <form class="theme-form">
                <h4>Reset Your Password</h4>
                <div class="form-group">
                  <label class="col-form-label">Enter Your Email Address</label>
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form-control mb-1" type="email" placeholder="john.doe@email.com">
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary btn-block m-t-10" type="submit">Send Email</button>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-4 mb-4"><span class="reset-password-link">If don't receive Email ?  <a
                      class="btn-link text-danger" routerLink='/'>Resend</a></span></div>
                <p class="mt-4 mb-0">Already have an password?<a class="ml-2" [routerLink]="'/auth/login'">Sign in</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
