<app-breadcrumb [title]="'Customers'" [items]="['Customer Management']" [active_item]="'Customers'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 project-list">
      <div class="card">
        <div class="row">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-6">
            <div class="text-right">
              <div class="form-group mb-0 mr-0"></div><a class="btn btn-primary"
                [routerLink]="['/pages/customer-management/customer']"> <i data-feather="plus-square"> </i>Create New
                Customer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <app-customer-advance-search [filter]="customerListFilter" (clear)="ResetFilter()" (search)="Filter()">
          </app-customer-advance-search>
          <div class="tab-content" id="top-tabContent">
            <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
              <div class="table-responsive product-list-custom custom-datatable">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="Dashed">
                        <th scope="col">Name</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col" class="text-center">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col" class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="Dashed" *ngFor="let customer of customers">
                        <td>{{customer?.name}}</td>
                        <td><i class="fa"
                            [ngClass]="{'fa-instagram': customer.social_media == 'insta', 'fa-facebook-square': customer.social_media=='fb'}"></i>
                          <a target="_blank"
                            [href]="customer.social_media == 'insta' ? instaLink + customer.social_media_user_name : facebookLink + customer.social_media_user_name ">
                            <span appTextTrim characters="12" [ngbTooltip]="customer.social_media_user_name">
                              &nbsp;{{customer.social_media_user_name}}
                            </span>
                          </a>
                        </td>
                        <td>
                          <span appTextTrim characters="15" [ngbTooltip]="customer.address">
                            {{customer?.contact_info?.address?.house_number}}
                            {{customer?.contact_info?.address?.street}}
                          </span>
                        </td>
                        <td>{{customer?.contact_info?.address?.city}}</td>
                        <td>{{customer?.contact_info?.address?.province}}</td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-link" (click)="AuthenticateModal(authenticate, customer.id);"><i
                              class="fa fa-eye"></i></button>
                        </td>
                        <td>
                          <span appTextTrim characters="8" [ngbTooltip]="customer.email" [ngbPopover]="popContent"
                            [popoverTitle]="popTitle">{{customer.email}}</span>
                        </td>
                        <td class="text-center">
                          <a class="btn btn-dark btn-xs"
                            [routerLink]="['/pages/customer-management/customer', customer.id]"><i
                              class="fa fa-pencil"></i></a>
                          <button class="btn btn-danger btn-xs ml-1" (click)="Delete(customer.id)"><i
                              class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right p-2">
          <app-pagination [dataSize]="totalResults" (pageChanged)="PageChanged($event);"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #authenticate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please Authenticate</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" [formGroup]="authenticationForm">
      <label for="password">Password</label>
      <input class="form-control btn-square" id="password" formControlName="password" type="password"
        placeholder="Enter your password">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="AuthenticateAdmin();">Submit</button>
  </div>
</ng-template>

<ng-template #customerPhone let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Phone Number of {{customer}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input class="form-control btn-square" id="phoneNumber" type="text" [(ngModel)]="customerPhoneNumber" disabled>
    </div>
  </div>
</ng-template>

<ng-template #email let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Email</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="emailForm">
      <div class="form-group">
        <label for="phoneNumber">To</label>
        <input class="form-control btn-square" id="phoneNumber" type="text" formControlName="to">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Subject</label>
        <input class="form-control btn-square" id="phoneNumber" type="text" formControlName="subject">
      </div>
      <div class="form-group mb-0">
        <label class="text-muted">Message</label>
        <ckeditor [editor]="ClassicEditor" formControlName="body"></ckeditor>
        <!-- <ck-editor name="editor" id="text-box" [(ngModel)]="editorValue" skin="moono-lisa" language="en"></ck-editor> -->
      </div>
      <p>{{emailForm.value | json}}</p>
    </form>
  </div>
</ng-template>

<ng-template #popTitle>Send <b>Email</b></ng-template>
<ng-template #popContent>
  <div class="text-center">
    <button class="btn btn-info btn-sm" (click)="openEmailModal(email)">Send Email</button>
  </div>
</ng-template>
